{% load i18n %}
{% load static %}

<section id="boxes" style="">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #e4263b !important;">
                <div class="p">Lorem ipsum dolor sit amet <a class="btn" href="#">Go to link</a></div>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #4d9e37 !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #e7412e !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #fbc109 !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #a21a43 !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #ec692f !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #60b134 !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
            <div class="card-body" style="background-color: #00699e !important;">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
</section>
