{% load i18n %}
{% load static %}

<!-- Demo styles -->
<link rel="stylesheet" href="{% static 'css/boxes.css' %}">
<section id="boxes" style="">
    <div class='container-fluid container-relative'>
        <h1 class="text-center my-2">
            Flats
        </h1>
        <div class="card-group">
            <div class="card">
                <div class="card-header2 d-flex flex-column justify-content-between"
                     style="background-color: #fbc109!important;">
                    <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
                    <p class="car-text-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-body" style="background-color: #fbc109 !important;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ullam.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header2 d-flex flex-column justify-content-between"
                     style="background-color: #e4263b!important;">
                    <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
                    <p class="car-text-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-body" style="background-color: #e4263b !important;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ullam.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header2 d-flex flex-column justify-content-between"
                     style="background-color: #0f5132!important;">
                    <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
                    <p class="car-text-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-body" style="background-color: #0f5132 !important;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ullam.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header2 d-flex flex-column justify-content-between"
                     style="background-color: red!important;">
                    <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
                    <p class="car-text-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-body" style="background-color: red !important;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ullam.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header2 d-flex flex-column justify-content-between"
                     style="background-color: dodgerblue!important;">
                    <img class="card-img-top" src="{% static 'img/bootstrap-logo.svg' %}" alt="Card image cap">
                    <p class="car-text-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-body" style="background-color: dodgerblue !important;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ullam.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
