{% load i18n %}
{% load static %}
<!-- Demo styles -->
<style>
    /*needs part of css in style.css #logos-section */
</style>
<div class="container-fluid">
    <div id="logos-hover" class="row">
    <div class="col-md-3 bbw brw ">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </div>
        </div>
    </div>
    <div class="col-md-3 bbw brw">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 bbw brw">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem.</h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 bbw">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 brw">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 brw">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 brw">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="logo-hover-portada">
            <figure class="d-flex justify-content-center align-content-center">
                <img class="logo-hover img-fluid"
                     src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
            </figure>
            <div class="logo-hover-contenido">
                <h3 class="logo-title">Lorem. </h3>
                <img class="logo-hover img-fluid" src="{% static 'img/logos/apple-touch-icon-114x114.png'%}">
                <a class="btn btn-success" href="#">IR A LA WEB</a>
            </div>
        </div>
    </div>
</div>
</div>
<script>

</script>