{% load i18n %}
{% load static %}
<!-- Demo styles -->
<style>
    /*needs part of css in style.css #logos-section */
</style>

<h1>Nuestro equipo</h1>
    <div class="d-flex flex-row align-items-center">
        <div id="js-prev1" class=".swiper-button-prev swiper-custom-nav">
            <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </div>
        <div class="swiper swiper-contact swiper-container">
            <div class="parallax-bg"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
                <div class="swiper-slide"
                     style="background-image: url({% static 'img/directivos/silueta-directivo.png' %}); background-position: center; background-size: cover">
                    <div class="title">Directivo Apellidos</div>
                    <div class="subtitle">Cargo</div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div id="js-next1" class=".swiper-button-next swiper-custom-nav">
            <i class="fas fa-arrow-alt-circle-right fa-2x"></i>
        </div>
    </div>
<script>
    var swiper = new Swiper(".swiper-contact", {
         slidesPerView: 4,
          speed: 600,
          parallax: true,
          loop: true,
          grabCursor: true,
          spaceBetween: 1,
          breakpoints: {
              1181: {
                  slidesPerView: 4
              },
              1180: {
                  slidesPerView: 3
              },
              1020: {
                  slidesPerView: 2
              },
              700: {
                  slidesPerView: 1
              }
          },
          // centeredSlides: true,
          // autoplay: {
          //     delay: 2500,
          //     disableOnInteraction: false,
          // },
          // pagination: {
          //     el: ".swiper-pagination",
          //     type: "progressbar",
          // },
          navigation: {
             nextEl: "#js-next1",
              prevEl: "#js-prev1",
          },

      });

</script>