{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block otherstyles %}
    <style>

    </style>
{% endblock %}
{% block content %}
    <!--inicio-->
    <section id="home">
        {% include 'partials/slider_index.html' %}
    </section>
    <section id="logos-section" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/logos-section.html' %}
    </section>
    <section id="logos-section-modal" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/logos-section-modal.html' %}
    </section>

    <!--nosotros-->
    <section id="us" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/slider_directivos.html' %}
    </section>
    <section id="countto" class="wow fadeIn countto" data-wow-duration="2s">
        {% include 'partials/count_to.html' %}
    </section>

    <section id="fancy_splitter" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/fancy_splitter.html' %}
    </section>
    {#    maps#}
    <section id="maps" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/maps.html' %}
    </section>
    <section id="fancy-gallery" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/fancy-gallery.html' %}
    </section>
    <section id="calendar2" class="wow fadeIn" data-wow-duration="2s">
        {% include 'partials/calendario.html' %}
    </section>
    <section id="colapsible_custom" class="py-1" data-wow-duration="2s">
        {% include 'partials/colapsible_custom.html' %}
    </section>

    <!--contacto-->
    <section id="contact" class="wow fadeIn" data-wow-duration="2s"
             style="background-image: url({% static 'img/fondo-prueba-1.png' %}); background-size: cover; background-position: center">
        {% include 'partials/contactos.html' %}

    </section>

    <script>

        var wow = new WOW(
            {
                boxClass: 'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset: 0,          // distance to the element when triggering the animation (default is 0)
                mobile: true,       // trigger animations on mobile devices (default is true)
                live: true,       // act on asynchronously loaded content (default is true)
                callback: function (box) {
                    // the callback is fired every time an animation is started
                    // the argument that is passed in is the DOM node being animated
                },
                scrollContainer: null,    // optional scroll container selector, otherwise use window,
                resetAnimation: true,     // reset animation on end (default is true)
            }
        );
        wow.init();
        // new WOW().init();
    </script>
{% endblock %}