{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'js/fullcalendar/lib/main.css' %}">
    <style>
        /*reportes + eventos*/
        #reportes .nav-pills li a, #eventos_relevantes .nav-pills li a {
            height: 20px;
            font-family: Latos;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            text-align: center;
            letter-spacing: normal;
            color: #011e4f;
            border-bottom: 4px solid #e8e9eb;
            background: none;
            margin: 0.5rem;
            padding: 0.5rem 1.5rem;
        }

        #reportes .nav-pills li a:hover, #eventos_relevantes .nav-pills li a:hover {
            color: #011e4f;
            border-bottom: 4px solid #dc291e !important;
        }

        #reportes li a.active, #eventos_relevantes li a.active {
            color: #011e4f;
            border-bottom: 4px solid #dc291e !important;
        }

        #reportes .reporte-trimestral-text, #eventos_relevantes .reporte-trimestral-text {
            font-weight: bold;
        }

        #reportes .border-left-rpt, #eventos_relevantes .border-left-rpt {
            border-left: 2px solid #011e4f !important;
        }

        #reportes .rpts a {
            color: #011e4f;
        }

        #eventos_relevantes .table-responsive {
            display: table;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="content-wrap pb-0">
        <section id="eventos_relevantes" class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
            <div class="container">
                <div id="events">
                    <h1 class="text-center">
                        Eventos Relevantes
                    </h1>
                    <div class="col-11 offset-1">
                        <!--   llenando la lista nav-->
                        <ul class="eventos nav nav-pills">
                            {% for event in events_rel %}
                                <li class="py-3">
                                    <a class="{% if forloop.counter0 == 0 %} active{% endif %}" data-toggle="pill"
                                       data-year="{{ event.year }}"
                                       href="#Eventos-Relevantes-{{ event.year }}">{{ event.year }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content ml-5">
                        {% for event in events_rel %}
                            <div id="Eventos-Relevantes-{{ event.year }}"
                                 class="tab-pane fade in {% if forloop.counter0 == 0 %} active show{% endif %} ">
                                <div class="table-responsive">
                                    <table class="table date-on-one-line table-responsive">
                                        <thead class="bg-blue2">
                                        <tr>
                                            <th class="text-center">Fecha</th>
                                            <th class="text-center">Documento</th>
                                            <th style="text-align:center"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for evento in event.events %}
                                            <tr>
                                                <td>
                                                    {{ evento.date }}
                                                </td>
                                                <td>
                                                    {{ evento.title }}
                                                </td>
                                                <td>
                                                    <a class="reporte-trimestral-text"
                                                            {#                                                       href="{% static evento.url %}"#}
                                                       href="{{ evento.url }}"
                                                       target="_blank">
                                                        <span class="reporte-trimestral-text2">
                                                            <i class="icon-file-pdf"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>
        <section id=calendario" class="wow fadeIn " data-wow-duration="2s" data-wow-delay="0.5s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center" style="color: #011e4f;">Calendario</h1>
                        <div class="row">
                            <div class=" col-md-6 calendar-right">
                                <h3 class="text-center mb-3 text-dark text-uppercase font-weight-bold">Calendario</h3>
                                <div id='calendar'></div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 module-event-calendar_event-container">
                                <div class="module-event-calendar_splash d-flex flex-row justify-content-center align-content-center mt-5 pt-5"
                                     id="desc_event">
                                    <i class="fa fa-calendar-o fa-2x m-2"></i>
                                    <span class="m-2">Seleccione una fecha resaltada del calendario</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="eventos_lista">
            <div class="content-wrap" style="padding: 50px 0 80px;">
                <div class="container clearfix">
                    <div class="d-flex justify-content-end align-items-center mb-5">
                        <div class="form-inline">
                            <h4 class="mb-0 mr-3 font-weight-bold text-black">Año</h4>
                            <select class="form-control form-control-sm" name="select_anno" id="select_anno">
                                <option value="all">Todos</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>

                    </div>
                    <div class="events-list">
                        {% for event in events %}
                            {#                        <article class="event-item all {{ event.date|slice:4 }} border-bottom show-event">#}
                            <article class="event-item all border-bottom show-event" data-date="{{ event.start }}">
                            <span class="event-date">
                                {{ event.start }}
                            </span>
                                <h4 class="mb-0 uppercase">
                                    <a target="_blank"
                                       href="{{ event.url }}">
                                        {{ event.title }}
                                    </a>
                                </h4>
                                <p class="description">
                                    {{ event.description }}
                                </p>
                            </article>
                        {% endfor %}
                        <article id="no-event" class="event-item border-bottom hide-event">
                            <h4 class="mb-0 uppercase">
                                No hay noticias.
                            </h4>
                        </article>
                    </div>
                    <div id="paginationholder" class="mb-3 mb-lg-0 d-flex justify-content-end">
                        <ul id="pagination" class="pagination-lg"></ul>
                    </div>

                </div>
            </div>
        </section>

    </div>
    {{ eventsj }}
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'js/wow.min.js' %}"></script>

    <script src="{% static  'js/fullcalendar/lib/main.js' %}"></script>
    <script src="{% static  'js/fullcalendar/lib/locales-all.js' %}"></script>

    <script src="{% static 'js/jquery.twbsPagination.min.js' %}"></script>



    <script>
        new WOW().init();
    </script>
    <script src="">


        $('ul.eventos li').on('click', (e) => {
            let y = e.target.dataset.year;
            if (y)
                showReports(y);
        });

        const showReports = y => {
            let reports = $('ul.list-report li');
            if (reports.length) {
                reports.removeClass('show-event')
                    .addClass('hide-event');

                reports.filter("[data-date^='" + y + "']")
                    .removeClass('hide-event')
                    .addClass('show-event');
            }
        }

        let activeYear = $('ul.reportes li a.active').data('year');
        showReports(activeYear);
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const events = {{ events | safe }};
            console.log(events);
            var calendarEl = document.getElementById('calendar');
            var desc_event = $('#desc_event');
            if (calendarEl != null) {
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    eventDidMount: function (info) {
                        info.el.setAttribute("data-toggle", 'tooltip');
                        info.el.setAttribute("data-placement", 'top');
                        info.el.setAttribute("data-title", info.event.extendedProps.description);
                    },
                    locale: 'es',
                    height: 270,
                    eventMouseEnter: function (mouseEnterInfo) {
                        $(mouseEnterInfo.el).tooltip('show')
                    }, eventMouseLeave: function (mouseEnterInfo) {
                        $(mouseEnterInfo.el).tooltip('hide')
                    },

                    handleWindowResize: true,
                    events: events,

                    eventClick: function (info) {
                        console.log(info.event.start.toLocaleDateString('es-ES'));
                        var desc_event = $('#desc_event');
                        desc_event.empty();

                        var datos = '<i class="fa fa-calendar-o fa-2x m-2"></i><span class="m-2">' + info.event.start.toLocaleDateString('es-ES') + '  ' + info.event.title + '</span>';
                        desc_event.append(datos);
                    }
                });


                calendar.render();
            }
        })
        ;
    </script>
    {#    lista eventos#}
    <script>
        const step = 5;

        filterSelection("all", '', 1, step);

        $('#select_anno').change(function () {
            filterSelection($(this).val(), '', 1, step)
        });


        function filterSelection(c, search = '', page = 1, step = step) {
            let elements = 0;
            let x, i;
            x = document.getElementsByClassName("event-item");
            {#if (c === "all") c = "";#}
            for (i = 0; i < x.length; i++) {
                let xi = $(x[i]);
                CardRemoveClass(x[i], "show-event");
                CardAddClass(x[i], "hide-event");
                {#if ($(x[i]).hasClass(c)) {#}

                if (xi.hasClass(c) || (xi.data('date') && xi.data('date').split('-')[0] === c)) {
                    elements++;
                    if ((elements > ((page - 1) * step)) && (elements <= page * step)) {
                        CardAddClass(x[i], "show-event");
                    }
                }
            }
            if (!elements) {
                let n = $('#no-event')
                n.removeClass('hide-event');
                n.removeClass('show-event');
            }
            if (page === 1)
                drawPagination(c, search, elements, page, step);
        }

        function CardAddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        function CardRemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        function drawPagination(c, search, elements, page, step) {
            paginationholder = $('#paginationholder');
            paginationholder.html('');
            paginationholder.html('<ul id="pagination"></ul>');
            total = elements / step;

            if ((elements % step) > 0)
                total += 1;

            if (total > 0)
                $('#pagination').twbsPagination({
                    {#pageVariable: '{{page}}',#}
                    {#totalPagesVariable: '{{total_pages}}',#}
                    totalPages: total,
                    {#visiblePages: total_pages,#}
                    prev: '<i class="icon-arrow-left"></i>',
                    next: '<i class="icon-arrow-right"></i>',
                    pageClass: 'page-item',
                    anchorClass: 'page-link',
                    hideOnlyOnePage: true,
                    first: null,
                    last: null,
                    initiateStartPageClick: false,
                    onPageClick: function (event, num) {
                        filterSelection(c, search, num, step);
                    },
                })
        }
    </script>

{% endblock %}
