//custom css code
//@import "meduz@-bootstrap-v5-theme";

//colores
$blue: #0d6efd !default;
$white: #ffff !default;
$black: black !default;
$light-blue: #99CCFF !default;

$active-link: $white;
$active-link-actived: $light-blue;

$green:   #198754 !default;
$success:       $green !default;

//header
.logo-menu {
  max-width: 50px;
  height: auto;
}

main {
  margin-top: 3.5rem !important;

  #slider-index {
    top: auto !important;
    margin-bottom: auto !important;
    height: calc(100vh - 80px) !important;
  }
}

//nav
.navbar {
  a, .nav-link {
    color: $active-link !important;

    &:hover, &:focus {
      color: $active-link-actived !important;
    }
  }
}

//logos-hover
#logos-section {
  padding: 0.5rem 1rem;

  #logos-hover {
    background-image: url("../img/fondo-hoover-prueba-1.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 3rem;

    h3 {
      color: $white;
      text-align: center;
    }

    .logo-hover-contenido {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
      padding-top: 0;
      min-height: unset;
      text-align: center;

      img {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
      }

      .btn-success {
        background-color: $success;
        border-color: $success;
        color: $white;
      }
    }

    //hover zoon in
    .logo-hover-portada {
      margin: 0;
      padding: 0;
      overflow: hidden;

      img {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }

      &:hover h3 {
        bottom: -36px;
        opacity: 1;
      }

      &:hover img {
        -webkit-transform: scale(0);
        transform: scale(0);
      }


      &:hover .logo-hover-contenido {
        opacity: 1;
        height: 200px;
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
        transform: translate(0, -5rem);
      }

      &:hover .logo-hover-contenido img {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

    }
  }
}
#us{
    padding: 3rem 3rem;
}

#contact{
  color: $white;
  h1{
    //color: $white;
    text-align: center;
  }
  .form-control-custom{
    width: 75%;
    padding: 0 3rem;
    align-items: center;
  }
  .btn{
    color: $black;
    background-color: $white;
    border: 0;
  }
}
//footer
footer {
  background-color: $black;
  color: $white;

  a {
    text-decoration: none;
    color: $active-link;


    &:hover, &:focus {
      color: $active-link;
    }
  }

  //.btn-linkedin{
  //  border-radius: 10px;
  //  background-color: $active-link;
  //  //border: 1px solid  $active-link;
  //  color: $black;
  //}

  .logo-footer {
    max-width: 30%;
    height: auto;
  }

  h5 {
    padding-left: 0.5rem;
    border-left: 2px solid $white;
    font-weight: bolder;
  }

}

.bbw {
  border-bottom: 2px solid white;
}

.brw {
  border-right: 2px solid white;
}

/* scroll to top */
.scroll-top-arrow, .scroll-top-arrow:focus {
  color: #fff;
  background: #878787;
  line-height: 28px;
  display: none;
  height: 30px;
  width: 30px;
  padding: 0;
  position: fixed;
  right: 45px;
  text-align: center;
  text-decoration: none;
  top: 91%;
  z-index: 10006;
  border-radius: 100%;
}

.scroll-top-arrow:hover {
  background: #000;
  opacity: .8;
  color: #fff;
  border-color: var(--base-color)
}

.scroll-top-arrow i {
  line-height: 30px;
  position: relative;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//
//// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }
//
//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }
//
//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }
//
//// X-Large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }
//
//// XX-Large devices (larger desktops, 1400px and up)
//@media (min-width: 1400px) { ... }